<div class="columnWrapper">
  <% var width = parseFloat(page.nullSpace) %>
  <% var number = [] %>
  <% for(var i in page.widths){ %>
    <% width += parseFloat(page.widths[i]) %>
    <% number.push(i) %>
  <% } %>
  <% var index = -1 %>
  <% var completed = 0 %>
  <% var content = page.content %>
  <% while((index = content.indexOf("<splitcolumn>")) !== -1){ %>
      <% var last = content.indexOf(">", index+1) %>
      <% last = content.indexOf(">", last+1) %>
      <div class="columnSeperator" style="width: <%= parseFloat(page.widths[number[completed]])/width*100 %>%; margin-right:<%= parseFloat(page.nullSpace)/(number.length-1)/width*100 %>%">
        <% completed ++ %>
        <%- content.substring(0, index) %>
      </div>
      <% content = content.substring(last+1) %>
  <% } %>
  <div class="columnSeperator" style="width: <%= parseFloat(page.widths[number[completed]])/width*100 %>%">
    <%- content %>
  </div>
</div>
