<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <% if (body.indexOf(config.outer) === 0){ %>
        <%- partial('_partial/banner',null) %>
        <%- body.replace(config.outer, "") %>
      <% }else{ %>
        <div class="outer">
          <% if(page.navigation){ %>
            <%- partial('_partial/navigation', {navigation: page.navigation}) %>
          <% } %>
          <section id="main"><%- body %></section>
        </div>
      <% } %>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
