<div id="header-inner">
  <nav id="main-nav">
    <a href="<%= config.root %>"><img class="headerImage" src=<%= config.root + "images/Logo.png" %>></a>
    <div class="imageShift">
      <a id="main-nav-toggle" class="nav-icon"></a>
      <% for (var i in theme.menu){ %>
        <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
      <% } %>
    </div>
  </nav>
  <nav id="sub-nav">
    <% if (theme.rss){ %>
      <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a>
    <% } %>
    <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
  </nav>
  <div id="search-form-wrap">
    <%- search_form({button: '&#xF002;'}) %>
  </div>
</div>
